.form-container-note {
    width: 100%;
    margin: 20px auto;
    
    display: flex;
    flex-direction:column;
    justify-content: baseline;
    height: 50vh;
    overflow-y: auto;
    scrollbar-color: #6A110B transparent;
    scrollbar-width: thin;


  }
  
  .form-row-note {
    display: flex;
    align-items:baseline;
    margin-bottom: 10px;
    padding: 5px;
    justify-content: baseline;
    align-content: flex-start;
 
  }
  
  .labelnote1 {
    width: 100px;
    flex: 5;
    font-family: 'Inika';
    font-size: large;
    color: #000000;
    align-self: baseline;
    align-self: flex-start;
  }

  .labelnote2{
    width: 100px;
    flex: 15;
    font-family: 'Inika';
    font-size: large;
    color: #000000;
    align-self: flex-start;
    /* Предотвращает перенос слов */
    word-wrap: break-word;
  }

  .button-row-note {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 0px;
 
  }
  
  .back-button-note {
    height: 40px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5%;
    padding-right: 20px;
    padding-left: 20px;
    font-size:medium;
    font-family: 'Inika';
    background-color: #B5ABA2;
    border: none;

  }
  
  .checkboxnote {

  }